
.mydiv{
		width: 20px;
		height: 20px;
		margin: 20px auto;
	}

.mydiv img:hover {
border-radius: 10px;			
box-shadow: 0 10px 8px 8px black;
	width: 500px;
	height: 400px;
}
.mydiv img {
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
	border:2px solid;
	padding: 10px;
	-webkit-transition: 3s linear;
	-moz-transition: 3s linear;
	-o-transition: 3s linear;
	-ms-transition: 3s linear;
	transition: 3s linear;
}